/*  your css code here. If applicable */
body {
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: 250px;
  width: 500px;
  padding: 20px;
  border: 10px solid black;
  border-radius: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}
.red,
.green,
.yellow {
  height: 100px;
  width: 100px;
  border-radius: 200px;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
  margin-right: 20px;
}
.yellow {
  background-color: yellow;
  margin-right: 20px;
}
